<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/main.css")
</head>
    <body>
        <div id="applicationHost">
            @CommonResources.Loading
        </div>

        @Scripts.Render("~/scripts/vendor")
        <script type="text/javascript" src="~/Scripts/app/durandal/amd/require.js"
                data-main="/Scripts/app/main"></script>

    </body>
</html>